---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Avatar from '../components/avatar/Avatar.astro';
import History from '../components/History.astro';
import Details from '../components/Details.astro';
import Skills from '../components/Skills.astro';
import Languages from '../components/Languages.astro'
import Education from '../components/Education.astro';
---

<Layout>
	<main>
		<div class="left-container">
			<Avatar />
			<H1 title="Profile" />
			<p class="description">
				I am from a small town in the center of Russia. My
				experience as a frontend developer is listed below. But before
				becoming a programmer, I have worked in various positions
				like loading wagons, digital seller, financial manager in a large
				Russian bank. Finally working as a frontend developer has
				opened up great opportunities for me. Now I can travel and
				currently live in Phuket, Thailand. Married but no children yet. I
				am interested in investments.
			</p>

			<History />
		</div>

		<div class="right-container">
			<Details />
			<Skills />
			<Languages />
			<Education />
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		width: 120ch;
		margin: auto;
    border-radius: 10px;
    box-shadow: 7px 4px 16px 10px #2f3e57;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.left-container {
		flex: 5;
		padding: 40px;
		background-color: #F6F6F6;
		border-radius: 10px 0 0 10px;
	}

	.right-container {
		flex: 3;
    padding: 40px;
		padding-top: 190px;
    background: #082a4d;
		color: #fff;
		border-radius: 0 10px 10px 0;
	}

	.description {
    text-indent: 20px;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
	}
</style>
