---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Avatar from '../components/avatar/Avatar.astro';
import History from '../components/History.astro';
import Details from '../components/Details.astro';
import Skills from '../components/Skills.astro';
import Languages from '../components/Languages.astro'
import Education from '../components/Education.astro';
---

<Layout>
	<main>
		<div class="left-container">
			<Avatar />
			<H1 title="Profile" />
			<p class="description">
				I'm frontend developer with <strong>6+ years</strong> of experience. 
				Strong knowledge in the framework <strong>React.js</strong>.
				Mainly the development of high-load b2b applications.
			</p>

			<History />
		</div>

		<div class="right-container">
			<Details />
			<Skills />
			<Languages />
			<Education />
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		width: 90ch;
		margin: auto;
		padding: 20px 10px;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.left-container {
		flex: 5;
		padding: 40px;
		background-color: #F6F6F6;
		border-radius: 10px 0 0 10px;
		box-shadow: -2px 0px 6px 2px #2f3e57;
	}

	.right-container {
		flex: 3;
    padding: 40px;
		padding-top: 190px;
    background: #082a4d;
		color: #fff;
		border-radius: 0 10px 10px 0;
		box-shadow: 2px 0px 6px 2px #2f3e57;
	}

	.description {
    text-indent: 20px;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
	}
</style>
