---
export interface Props {
	companyName: string;
	body: string;
	date: string;
}

const { date, companyName, body } = Astro.props;
---

<div>
	<div>{date}</div>
	<div>{companyName}</div>
	<div>{body}</div>
</div>

<style>

</style>
