---
import H1 from './H1.astro'
---

<div>
  <H1 title="Details:"/>
  <ul class="details-list">
    <li>
      Linkedin - 
      <a href="https://www.linkedin.com/in/egor-eresko/" target="_blank">
        linkedin.com/in/egor-eresko/
      </a>
    </li>
    <li>
      Leetcode - 
      <a href="https://leetcode.com/YereskoYerop/" target="_blank">
        leetcode.com/YereskoYerop/
      </a>
    </li>
    <li>
      Github - 
      <a href="https://github.com/EgorEres/" target="_blank">
        github.com/EgorEres/
      </a>
    </li>
    <li>
      Instagram - 
      <a href="https://www.instagram.com/egoreresko/" target="_blank">
        instagram.com/egoreresko/
      </a>
    </li>
    <li>Telegram - @EgorEr</li>
    <li>Gmail - ereskoerop@gmail.com</li>
  </ul>
</div>

<style>
  a {
		color: #95bbe3;
  }

  .details-list {
		margin: 0;
    list-style: none;
    padding: 0;
    font-size: 14px;
	}
</style>