---
import H1 from './H1.astro'
---

<div>
  <H1 title="Education:" />
  <p>
    <strong>Core:</strong>
    <span>June 2012</span>
    <br/>
    Russia, Tyumen State Oil and Gas University. Institute of Cybernetics Informatics and Connectivity.
  </p>
  <p>
    <strong>Additional: </strong>
    <span>October 2022</span>
    <br/>
    Russia, ANO DPO "Yandex Educational Technologies"
    Professional retraining by profession, 
    Middle frontend developer Professional retraining by profession frontend developer.
  </p>
</div>
<style>
  span {
    color: #a69f9f;
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
</style>
