---
import H1 from './H1.astro'
---

<div>
  <H1 title="Employment history"/>
  <div class="emplay-block">
    <h3 class="h3-lite">December 2021 - March 2023</h3>
    <a href="https://alfabank.ru/" target="_blank">
      <h3>Senior Frontend Engineer at Alfa bank</h3>
    </a>
    <p>
      Development of the bank's internal CRM system.
      Implementation of a new micro-frontend architecture.
      <br />
      A little bit about what have I been doing:
    </p>
    <ul>
      <li>Development of <a href="https://webpack.js.org/concepts/module-federation/" target="_blank">WMF</a> modules and the interaction between them.</li>
      <li>Packages audit, maintaining up-to-date versions.</li>
      <li>Documenting standards and approaches the development in "United Front".</li>
      <li>Btw I also wrote the code.</li>
    </ul>
  </div>

  <div class="emplay-block">
    <h3 class="h3-lite">December 2021 - March 2023</h3>
    <a href="https://www.pik.ru/" target="_blank">
      <h3>Frontend Engineer at PIK Group</h3>
    </a>
    <p>
      Department within large company that
      developed solutions to simplify of buildings and repairs.
      <br />
      Some of my responsibilities:
    </p>
    <ul>
      <li>Development of web interfaces.</li>
      <li>Сreating and maintaining UI components.</li>
      <li>Maintaining and improving the code base.</li>
    </ul>
  </div>

  <div class="emplay-block">
    <h3 class="h3-lite">July 2019 - December 2021</h3>
    <a href="https://www.homecredit.ru/" target="_blank">
      <h3>Frontend developer at Home Credit bank</h3>
    </a>
    <p>
      The bank's division for development marketplace for
      sale of electronics and not only on loan. Participated in the
      development of:
    </p>
    <ul>
      <li>Gallery interfaces thousands of products with reviews and related products.</li>
      <li>Interface of the loan processing process for the purchase of goods.</li>
      <li>Development of web interfaces. State management.</li>
    </ul>
  </div>

  <div class="emplay-block">
    <h3 class="h3-lite">August 2016 - April 2019</h3>
    <a href="https://www.facebook.com/profile.php?id=100054417553028" target="_blank">
      <h3>Web-engineer at Workonflow startup</h3>
    </a>
    <p>
      This is the company that developed a CRM system
      with sales management capabilities. My responsibilities:
    </p>
    <ul>
      <li>Developing application for working with task board.</li>
      <li>Developing interfaces for organizing tasks and projects.</li>
      <li>Developing bot programs running on API applications for automate routine actions.</li>
      <li>Frontend teacher for new entry-level developers.</li>
    </ul>
  </div>
</div>

<style>
  .emplay-block {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 1px solid #000;
    margin-left: 10px;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
  }

  .h3-lite {
    color: #6c6868;
  }

  ul {
    padding-left: 25px;
  }
</style>