---
import avatar from './avatar.jpeg';
---

<div class="wrapper">
  <div class="img-wrapper">
    <img src={avatar} alt="avatar" />
  </div>
  <div class="name-wrapper">
    <span class="name">Egor  Eres’ko</span>
    <span class="position">FRONTEND DEVELOPER</span>
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    padding-left: 3%;
  }

  .img-wrapper {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
  }

  img {
    width: 160px;
    padding-top: 10px;
  }

  .name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }

  .name {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 40px;
    letter-spacing: -3px;
  }

  .position {
    font-size: 19px;
    font-weight: 500;
  }
</style>